In [7]:
if __name__ == '__main__':
    n = int(input().strip())

    if n % 2 == 1:
        print('Weird')
    else:
        if 5 >= n >= 2:
            print('Not Weird')
        elif 20 >= n >= 6:
            print('Weird')
        elif n > 20:
            print('Not Weird')

 4

Not Weird

In [5]:
import pandas as pd
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})

df2 = pd.DataFrame({'a': ['foo', 'bar'], 'c': [3, 4]})

df3 = pd.DataFrame({'a': ['foo'], 'd': [5]})

a = pd.merge(df1, df2, on='a')
pd.merge(a, df3, on='a', how='left')

     a  b  c    d
0  foo  1  3  5.0
1  bar  2  4  NaN

In [10]:
df1['a'].size

2